/* Write your CSS here */
.bg-container {
  background-image: linear-gradient(to left, #e2a139, #f9d423);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.white-container {
  background-color: #ffffff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 60px;
  margin: 25px;
}
@media screen and (max-width: 576px) {
  .white-container {
    display: flex;
    width: fit-content;
    flex-direction: column;
    padding: 10px 35px;
    margin: 30px;
  }
}

.main-heading {
  color: #a35200;
  font-family: 'Roboto';
  font-size: 50px;
  font-weight: bold;
}

@media screen and (max-width: 576px) {
  .main-heading {
    font-size: 35px;
  }
}

.top-text {
  color: #334155;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: bold;
}
@media screen and (max-width: 576px) {
  .top-text {
    font-size: 25px;
  }
}

.coin-image {
  height: 250px;
}
@media screen and (max-width: 576px) {
  .coin-image {
    height: 150px;
  }
}
.coin-btn {
  background-color: #f9d423;
  color: #a35200;
  font-family: 'Roboto';
  border: none;
  border-radius: 5px;
  font-weight: 500;
  padding: 5px 10px;
  margin-top: 30px;
}
.score-card {
  display: flex;
  justify-content: space-between;
  color: #475569;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: bold;
  margin-top: 35px;
  margin-bottom: 40px;
}
@media screen and (max-width: 576px) {
  .score-card {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin-bottom: 20px;
  }
}
.total-score {
  margin-right: 20px;
  margin-left: 20px;
}
